* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.75em;
}

video {
  max-width: 100%;
}

.videoWrapper {
  display: block;
  width: 100%;
  margin-bottom: 1em
}

@media (min-width: 768px) {

  .videoWrapper {
    max-width: 800px;
    width: 70%;
    margin: 1.5em auto;
  }
}

p {
  font-size: 1.1em;
}

/************* MEDIAELEMENT STYLES ***************/

.mejs__controls:not([style*='display: none']) {
  background: #3886c7;
}
